/* Show theme border on top of page */
html {
  padding-top: 10px;
}

.nav__bar {
  border-top: 10px solid #283c46;
}

html[data-theme="blue"] .nav__bar {
  border-top-color: #1b6ac9;
}

html[data-theme="purple"] .nav__bar {
  border-top-color: #725ead;
}

html[data-theme="green"] .nav__bar {
  border-top-color: #2da562;
}

html[data-theme="orange"] .nav__bar {
  border-top-color: #d4442e;
}

html[data-theme="charcoal"] .nav__bar {
  border-top-color: #596568;
}

/* Swap BC logo with name of BC */
.nav__link--accounts {
  background: none !important;
  text-align: left !important;
  position: relative;
  white-space: nowrap;
}

.basecamp-enhancer__logo-label {
  color: black;
  display: none;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 0.8rem;
  transform: translateY(-50%);
  width: 100%;
}

@media (min-width: 460px) {
  .basecamp-enhancer__logo-label {
    display: block;
  }
}

@media (min-width: 768px) {
  .basecamp-enhancer__logo-label {
    display: none;
  }
}

@media (min-width: 1000px) {
  .basecamp-enhancer__logo-label {
    display: block;
    font-size: 1.85rem;
  }
}

/* Sticky the perma toolbar on todo items */
.basecamp-enhancer #main-content .perma-toolbar {
  position: sticky;
  top: 65px;
  background: rbga(255, 255, 255, 0.5);
  padding: 1rem 0;
}

.basecamp-enhancer #main-content .panel--perma {
  padding-top: 1rem;
}

/* Todolist details on todo pages */
.todolist-details {
  font-size: 12px;
  max-width: 500px;
  margin: 10px auto 20px;
  background: #cbeef9;
  padding: 15px 20px;
  border-radius: 10px;
  position: relative;
}

.todolist-details h4 {
  position: absolute;
  top: -10px;
  background: #30444f;
  color: #fff;
  margin: 0;
  padding: 2px 8px;
  border-radius: 10px;
}

.todolist-details h2 {
  margin: 3px 0 5px;
  font-size: 15px;
}

.todolist-details p {
  margin: 0;
}

/* Client visibility bubble */
.client-visibility-flag--for-perma {
  top: 110px !important;
}
